h1
{
    background-color:white;
    height: fit-content;
    font-family:verdana;

}
.p
{
    background-color:#73BA63;
    font-family:verdana;
    height: 45px;
    padding: 0.8em 0 1em 20px;
    padding-top: 1.8em;
    padding-right: 0px;
    padding-bottom: 1em;
    padding-left: 20px;
    
}
a
{
    font-weight: bold;
    text-decoration: white;
    color: white;
    margin-right: 65px;
    
}
body
{
    background-color:white;
}

.image
{
    height: 45px;
    width: 64px;
}

label
{
    font-size:small;
    margin-top: 1500px;
    font-family: verdana;
    text-align: right;
}
.column
{
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  b
  {
    color: dimgray;
  }
  tr
  {
       
        padding: 45px;
        padding-inline-start: 15px;
  }
  td
  {
    padding-right: 50px;
    padding-left: 50px;
  }
  .t
  {
    padding-top: 75px;
    text-align: center;
  }
  .top-right {
    position: absolute;
    background-color: #0012;
    font-family:verdana;
    height: 45px;
    width: 1350px;
  }
  .myfooter {
    background: #73BA63 url(../../images/bg-nav.png) bottom left no-repeat;
    background-color: #00123F;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    padding: 0.8em 0 1em 20px;
    position: relative;
    color: #a9c0db;
    font-size: .8em;
  }

  .myLine
  {
    border: 5px #73BA63 ;
    background: #73BA63 url(../../images/bg-nav.png) bottom left no-repeat;
    background-color: #73BA63;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    padding: 0.8em 0 1em 20px;
    position: relative;
    color: #a9c0db;
    font-size: .4em;
  }